body{
	background-color: #122945;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;

}

.store1{

	width: 75%;
	margin: 50px auto;
}

.Signup-box{

	display: flex;
	background: #fff;

}

.center{

	flex-basis: 60%;
	padding: 40px 60px;
	
}


.user-input2{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;


}

.user-input2 .user-input02{
	flex-basis: 45%;


}

h1{
	margin-bottom: 20px;
	font-size: 17px;
	color: #fff;
	word-spacing: 4px;
	font-style: italic;
}

input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 0px;
	margin-bottom: 10px;

}

label{

	margin-bottom: 10px;
	display: block;
	color: #1c00b5;
}

button{
	background: #1c00b5;
	width: 100px;
	border: none;
	outline: none;
	height: 35px;
	color: #fff;
	margin-top: 20px;
	border-radius: 30px;
	box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.2);
}